.reg-container-fluid {
  margin: 0 auto;
  padding: 50px;
  height: 150vh;
  width: 100%;
  background-image: linear-gradient(to right, purple, rgb(0, 255, 234), pink);
}

.reg-container {
  height: 850px;
  width: 900px;
  margin-left: 120PX;
  background-color: rgba(255, 255, 255, 0.936);
  border-radius: 50px;
}


.reg_label {
  font-weight: bold;
}

.reg_control {
  width: 400px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.reg_control:focus {
  outline: 0;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}